<div th:fragment="carPage">
    <nav th:replace="fragments/navigationFragment.html :: qrental-navigation"></nav>
    <th>
        <a class="btn btn-sm btn-outline-secondary"
           href="/cars"
           aria-controls="offcanvasExample">
            <span class="bi-layers-half"></span>
            Cars
        </a>
    </th>
    <h1 class="py-5">Cars</h1>

    <table  class="table table-striped table-bordered">
        <tr>
            <th>
                <a class="btn btn-sm btn-success"
                   href="/cars/add-form"
                   role="button"
                   aria-controls="offcanvasExample">
                    <span class="bi-plus-circle"></span>
                    Add New Car
                </a>
            </th>
            <th>REG Number</th>
            <th>Fuel Type</th>
            <th>Gear Type</th>
            <th>Manufacturer</th>
            <th>Model</th>
        </tr>
        <tr th:if="${#lists.isEmpty(cars)}">
            <td colspan="5">No cars</td>
        </tr>
        <tr th:each="car : ${cars}">
            <td>
                <a class="btn btn-sm btn-warning"
                   th:href="@{/cars/update-form/{id}(id=${car.id})}">
                    <span class="bi-pencil-square"></span>
                    Edit</a>
                <a class="btn btn-sm btn-danger"
                   th:href="@{/cars/delete-form/{id}(id=${car.id})}">
                    <span class="bi-trash"></span>
                    Delete</a>
            </td>
            <td th:text="${car.regNumber}"></td>
            <td th:text="${car.fuelType}"></td>
            <td th:text="${car.gearType}"></td>
            <td th:text="${car.manufacturer}"></td>
            <td th:text="${car.model}"></td>
        </tr>
    </table>
</div>