<div th:fragment="assembledForm">
    <div th:replace="fragments/commonFormFragment.html :: commonForm(
            title='Update a Firm',
            closeRef='/firms',
            content=~{fragments/firmUpdateFormFragment.html :: updateForm}
        )">
    </div>
</div>

<form th:fragment="updateForm"
      method="post"
      th:action="@{/firms/update}"
      th:object="${updateRequest}">

    <input id="firmId" required
           th:field="*{id}"
           type="text"
           hidden/>

    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="form-label text-muted" for="firmId">Firm name</label>
                <input class="form-control" id="firmId"
                       placeholder="Enter Firm name"
                       required
                       th:field="*{name}"
                       type="text"/>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="form-label text-muted" for="ibanId">IBAN</label>
                <input class="form-control" id="ibanID" placeholder="Enter  IBAN" required
                       th:field="*{iban}"
                       type="text"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="form-label text-muted" for="regNumberId">REG Number</label>
                <input class="form-control" id="regNumberID" placeholder="Enter REG Number" required
                       th:field="*{regNumber}"
                       type="number"/>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="form-label text-muted" for="vatNumberId">VAT Number</label>
                <input class="form-control" id="vatNumberID" placeholder="Enter VAT Number"
                       th:field="*{vatNumber}"
                       type="text"/>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label text-muted" for="commentId">Comment</label>
        <textarea class="form-control"
                  id="commentId"
                  placeholder="Enter Comment"
                  th:field="*{comment}"/>
    </div>

    <div th:replace="fragments/addUpdateFormButtonsFragment.html :: addUpdateButtons(
            submitValue='Update',
            cancelHref='/firms'
        )">
    </div>
</form>
