server:
  port: 8282
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: Alex321!
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
