<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: qrental-head">
</head>
<body class="container">
<nav th:replace="fragments/navigation.html :: qrental-navigation"></nav>

<div class="row">
    <div class="col"></div>
    <div class="col">
        <h3>Add new Transaction</h3>
        <form class="col card p-3 mb-5" method="post"
              th:action="@{/transactions/add}"
              th:object="${transactionAddCommand}">
            <div class="form-group">
                <label for="transactionTypeId">Transaction type</label>
                <select id="transactionTypeId"  th:field="*{transactionTypeId}">
                    <option th:each="type : ${types}" th:value="${type.id}" th:text="${type.name}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="driverId">Driver</label>
                <input class="form-control" id="driverId" placeholder="Enter  Driver" required
                       th:field="*{driverId}"
                       type="number"/>
            </div>

            <div class="form-group">
                <label for="amount">Amount</label>
                <input class="form-control" id="amount" placeholder="Enter  amount" required
                       th:field="*{amount}"
                       type="number"/>
            </div>

            <div class="form-group">
                <label for="weekNumber">Week Number</label>
                <input class="form-control" id="weekNumber" placeholder="Enter week Number" required
                       th:field="*{weekNumber}"
                       type="number"/>
            </div>

            <div class="form-group">
                <label for="date">Date</label>
                <input class="form-control" id="date" placeholder="Enter date" required
                       th:field="*{date}"
                       type="date"/>
            </div>


           <div class="form-group">
                <label for="comment">Comment</label>
                <textarea class="form-control"
                          id="comment"
                          placeholder="Enter Comment"
                          th:field="*{comment}"/>
            </div>
            <input class="btn btn-success"
                   type="submit"
                   value="Add Transaction"
                   data-bs-dismiss="modal">
        </form>
    </div>
    <div class="col">

    </div>
</div>

</body>
</html>