<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: qrental-head">
</head>
<body class="container">
<nav th:replace="fragments/navigation.html :: qrental-navigation"></nav>

<div class="row">
    <div class="col"></div>
    <div class="col">
        <h3>Add new Car</h3>
        <form class="col card p-3 mb-5" method="post"
              th:action="@{/cars/add}"
              th:object="${carAddCommand}">

            <div class="form-group">
                <label class="form-check-label" for="active">Active</label>
                <input class="form-check-input" id="active"  required
                       th:field="*{active}"
                       type="checkbox"/>
            </div>

            <div class="form-group">
                <label class="form-check-label" for="qRent">qRent</label>
                <input class="form-check-input" id="qRent"  required
                       th:field="*{qRent}"
                       type="checkbox"/>
            </div>



            <div class="form-group">
                <label for="regNumber">reg Number </label>
                <input class="form-control" id="regNumber" placeholder="Enter regNumber" required
                       th:field="*{regNumber}"
                       type="text"/>
            </div>

            <div class="form-group">
                <label for="vin">VIN</label>
                <input class="form-control" id="vin" placeholder="Enter vin" required
                       th:field="*{vin}"
                       type="text"/>
            </div>

            <div class="form-group">
                <label for="releaseDate">release Date</label>
                <input class="form-control" id="releaseDate" placeholder="Enter releaseDate" required
                       th:field="*{releaseDate}"
                       type="date"/>
            </div>

            <div class="form-group">
                <label for="manufacturer">manufacturer</label>
                <input class="form-control" id="manufacturer" placeholder="Enter manufacturer" required
                       th:field="*{manufacturer}"
                       type="text"/>
            </div>


            <div class="form-group">
                <label for="model"> model</label>
                <input class="form-control" id="model" placeholder="Enter model" required
                       th:field="*{model}"
                       type="text"/>
            </div>



            <div class="form-group">
                <label class="form-check-label" for="appropriation">appropriation</label>
                <input class="form-check-input" id="appropriation"  required
                       th:field="*{appropriation}"
                       type="checkbox"/>
            </div>

            <div class="form-group">
                <label class="form-check-label" for="elegance">elegance</label>
                <input class="form-check-input" id="elegance"  required
                       th:field="*{elegance}"
                       type="checkbox"/>
            </div>


            <div class="form-group">
                <label for="gearType">gearType</label>
                <input class="form-control" id="gearType" placeholder="Enter gearType" required
                       th:field="*{gearType}"
                       type="text"/>
            </div>

            <div class="form-group">
                <label for="fuelType">fuelType</label>
                <input class="form-control" id="fuelType" placeholder="Enter fuelType" required
                       th:field="*{fuelType}"
                       type="text"/>
            </div>


            <div class="form-group">
                <label class="form-check-label" for="lpg">lpg</label>
                <input class="form-check-input" id="lpg"  required
                       th:field="*{lpg}"
                       type="checkbox"/>
            </div>

            <div class="form-group">
                <label for="dateInstallLpg">dateInstallLpg</label>
                <input class="form-control" id="dateInstallLpg" placeholder="Enter date Install Lpg" required
                       th:field="*{dateInstallLpg}"
                       type="date"/>
            </div>


            <div class="form-group">
                <label for="insuranceFirm">insuranceFirm </label>
                <input class="form-control" id="insuranceFirm" placeholder="Enter insurance Firm" required
                       th:field="*{insuranceFirm}"
                       type="text"/>
            </div>

            <div class="form-group">
                <label for="insuranceDateStart">insurance Date Start</label>
                <input class="form-control" id="insuranceDateStart" placeholder="Enter insuranceDateStart" required
                       th:field="*{insuranceDateStart}"
                       type="date"/>
            </div>

            <div class="form-group">
                <label for="insuranceDateEnd">insurance Date end</label>
                <input class="form-control" id="insuranceDateEnd" placeholder="Enter insuranceDateEnd" required
                       th:field="*{insuranceDateEnd}"
                       type="date"/>
            </div>

            <div class="form-group">
                <label class="form-check-label" for="sCard">sCard</label>
                <input class="form-check-input" id="sCard"  required
                       th:field="*{sCard}"
                       type="checkbox"/>
            </div>

            <div class="form-group">
                <label class="form-check-label" for="key2">key2</label>
                <input class="form-check-input" id="key2"  required
                       th:field="*{key2}"
                       type="checkbox"/>
            </div>

            <div class="form-group">
                <label class="form-check-label" for="gps">gps</label>
                <input class="form-check-input" id="gps"  required
                       th:field="*{gps}"
                       type="checkbox"/>
            </div>


            <div class="form-group">
                <label for="technicalInspectionEnd">technical Inspection End</label>
                <input class="form-control" id="technicalInspectionEnd" placeholder="Enter technicalInspectionEnd" required
                       th:field="*{technicalInspectionEnd}"
                       type="date"/>
            </div>

            <div class="form-group">
                <label for="gasInspectionEnd">technical gasInspectionEnd End</label>
                <input class="form-control" id="gasInspectionEnd" placeholder="Enter gasInspectionEnd" required
                       th:field="*{gasInspectionEnd}"
                       type="date"/>
            </div>

            <div class="form-group">
                <label for="comment">Comment</label>
                <textarea class="form-control"
                          id="comment"
                          placeholder="Enter Comment"
                          th:field="*{comment}"/>
            </div>
            <input class="btn btn-success"
                   type="submit"
                   value="Add Car"
                   data-bs-dismiss="modal">
        </form>
    </div>
    <div class="col">

    </div>
</div>

</body>
</html>