<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/head.html :: qrental-head">
</head>

<body class="container">
<nav th:replace="fragments/navigation.html :: qrental-navigation"></nav>

<th>
    <a class="btn btn-sm btn-outline-secondary"
       href="/links"
       aria-controls="offcanvasExample">
        <span class="bi-layers-half"></span>
        Links
    </a>
</th>

<div th:replace="fragments/crudTableLink.html :: qrental-table-link"></div>

</body>
</html>