<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/head.html :: qrental-head">
</head>

<body class="container">
<nav th:replace="fragments/navigation.html :: qrental-navigation"></nav>

<th>
    <a class="btn btn-sm btn-success"
       href="/link-types"
       role="button"
       aria-controls="offcanvasExample">
        Transaction types
    </a>
</th>

<div th:replace="fragments/crudTableTransaction.html :: qrental-table-link"></div>

</body>
</html>