<div th:fragment="assembledForm">
    <div th:replace="fragments/commonFormFragment.html :: commonForm(
            title='Add a new Transaction',
            closeRef='/transactions',
            content=~{fragments/transactionAddFormFragment.html :: addForm}
        )">
    </div>
</div>
<div th:fragment="addForm">
    <form  method="post"
          th:action="@{/transactions/add}"
          th:object="${transactionAddCommand}">
        <div class="mb-3">
            <label class="form-label text-muted" for="driverId">Driver</label>
            <select id="driverId" class="form-select"
                    th:field="*{driverId}">
                <option th:each="driver : ${drivers}"
                        th:value="${driver.id}"
                        th:text="|${driver.firstName} ${driver.lastName} - ${driver.isikukood}|"></option>
            </select>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label text-muted" for="transactionTypeId">Transaction type</label>
                    <select id="transactionTypeId" class="form-select"
                            th:field="*{transactionTypeId}">
                        <option th:each="transactionType : ${transactionTypes}"
                                th:value="${transactionType.id}"
                                th:text="${transactionType.name}"></option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label text-muted" for="amountId">Amount</label>
                    <input class="form-control" id="amountId" placeholder="Enter  amount" required
                           th:field="*{amount}"
                           type="number"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label text-muted" for="weekNumberId">Week Number</label>
                    <input class="form-control" id="weekNumberId" placeholder="Enter week Number"
                           th:field="*{weekNumber}"
                           type="number"/>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label text-muted" for="dateId">Date</label>
                    <input class="form-control" id="dateId" placeholder="Enter date" required
                           th:field="*{date}"
                           type="date"/>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label text-muted" for="commentId">Comment</label>
            <textarea class="form-control"
                      id="commentId"
                      placeholder="Enter Comment"
                      th:field="*{comment}"/>
        </div>
        <div th:replace="fragments/addUpdateFormButtonsFragment.html :: addUpdateButtons(
            submitValue='Add',
            cancelHref='/transactions'
        )">
        </div>
    </form>
</div>


